/* general styling */
.counter {
  text-align: left;

  ul {
    padding: 0px;
    li {
      text-align: left;
      font-family: "Open Sans", sans-serif;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      list-style-type: none;
      padding: 15px 40px 15px 0px;
      color: $theme-color-bg;

      span {
        display: block;
        font-size: 45px;
        font-weight: 700;
        color: $theme-color-bg;
      }
    }
  }
}
