$theme-color-one: #ff8800;
$theme-color-white: #fff;
$theme-color-bg: #1c1c4a;
$theme-color-red: #ff0000;
$switcher-color-one: #2b08f5;
$switcher-color-two: #ff0000;
$switcher-color-three: #f8b15f;
$switcher-color-four: #da4d4d;
$switcher-color-five: #d80ab6;
