.home-area {
  width: 100%;
  background-image: url(../bg/bg1.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  .home-content {
    .home-content2 {
      height: 100vh;
      width: 100%;

      .home-title {
        h1 {
          font-family: "Poppins", sans-serif;
          color: $theme-color-bg;
          font-weight: 700;
          margin: 25px 0px 15px 0px;
          font-size: 35px;
        }

        p {
          font-size: 30px;
          font-weight: 800;
          color: $theme-color-white;
          background: $theme-color-bg;
          display: inline;
          padding: 10px 10px;
          border-radius: 5px;
        }
      }
      .notification {
        font-size: 20px;
        font-weight: 400;
        color: $theme-color-bg;
        margin-bottom: 2px;
        p {
          margin-bottom: unset;
        }
      }
      .notify-form {
        width: 65%;
        .input-group {
          button {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            padding: 15px 20px;
            background: $theme-color-one;
            border: 2px solid transparent;
            color: $theme-color-white;
          }
        }
      }
    }
  }
  .contact-form {
    padding: 30px 10px 30px 10px;
    border: 1px solid rgba($theme-color-bg, 0.2);
    border-radius: 5px;
    h3 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 400;
    }
    form {
      .form-group {
        padding: 10px;
        margin: 5px;

        input {
          padding: 10px;
        }
        button {
          width: 100%;
          background: $theme-color-bg;
          color: $theme-color-white;
          border: transparent;
          .btn {
            padding: 10px;
          }
        }
      }
    }
  }
}
footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  color: $theme-color-bg;
  z-index: 99;
  font-size: 13px;
  margin-top: 10px;
}
