/* general styling */
.counter {
  padding-right: 55px;
  li {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    list-style-type: none;
    padding: 15px;
    color: $theme-color-white;

    span {
      display: block;
      font-size: 45px;
      font-weight: 700;
      color: $theme-color-red;
    }
  }
}
