@media (max-width: 575.98px) {
  .nav_bar {
    .nav-style {
      .nav-item {
        background-color: $theme-color-one;
        font-size: 15px;
        margin: 2px;
        .nav-link {
          text-align: center;
          color: $theme-color-white;
        }
      }
    }
    .nav-social-icon {
      ul {
        display: none;
        li {
          display: none;
          a {
            display: none;
          }
        }
      }
    }
    .modal-title {
      font-size: 20px;
      margin: auto;
    }

    .about-box-icon {
      i {
        font-size: 25px;
      }
    }
    .modal-title {
      font-size: 20px;
      margin: auto;
    }
  }

  .home-area {
    .home-content {
      .home-content2 {
        .home-title {
          h1 {
            font-size: 25px;
          }

          p {
            font-size: 15px;
          }
        }
        .notification {
          font-size: 15px;
        }
        .notify-form {
          width: 80%;
          .input-group {
            &::placeholder {
              font-size: 15px;
            }

            button {
              padding: 5px 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .nav_bar {
    .nav-style {
      .nav-item {
        background-color: $theme-color-one;
        font-size: 20px;
        margin: 2px;
        .nav-link {
          text-align: center;
          color: $theme-color-white;
        }
      }
    }
    .nav-social-icon {
      ul {
        display: none;
        li {
          display: none;
          a {
            display: none;
          }
        }
      }
    }
  }

  .home-area {
    .home-content {
      .home-content2 {
        .home-title {
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 20px;
          }
        }
        .notification {
          font-size: 20px;
        }
        .notify-form {
          width: 80%;
          .input-group {
            &::placeholder {
              font-size: 15px;
            }

            button {
              padding: 5px 5px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .nav_bar {
    .nav-style {
      .nav-item {
        background-color: $theme-color-one;
        font-size: 20px;
        margin: 2px;
        .nav-link {
          text-align: center;
          color: $theme-color-white;
        }
      }
    }
    .nav-social-icon {
      ul {
        display: none;
        li {
          display: none;
          a {
            display: none;
          }
        }
      }
    }
  }
}
