.nav_bar {
  z-index: 10;
  background-color: transparent;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  .navbar-toggler {
    &:focus {
      box-shadow: unset;
    }
    .navbar-toggler-icon {
      height: unset;
      width: unset;
      color: $theme-color-white;
    }
  }

  .nav-style {
    .nav-item {
      font-size: 15px;
      margin: 2px;
      .nav-link {
        color: $theme-color-white;
      }
    }
  }
  .modal-title {
    font-size: 40px;
    margin: auto;
  }

  .about-box-icon {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-bottom: 12px;
      color: $theme-color-bg;
      font-size: 35px;
    }
  }
}
